modules = ["web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0", "python_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "gcc", "hdf5", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "poppler-utils", "poppler_utils", "rapidfuzz-cpp", "taskflow", "tcl", "tesseract", "tk", "zbar", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33157
externalPort = 3001

[[ports]]
localPort = 35973
externalPort = 3000

[[ports]]
localPort = 41923
externalPort = 4200

[[ports]]
localPort = 44077
externalPort = 5000

[[ports]]
localPort = 45731
externalPort = 3003

[[ports]]
localPort = 46479
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["python", "manage.py", "runserver", "0.0.0.0:5000"]
